.circulo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    height: 40%;
}
.circulo div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}